body {
  margin: 0;
}

body * {
  font-family: 'Ubuntu', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell,
    'Open Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  font-size: 100%;
}
/* For customizing Infinite Scroll 3rd party component */
.infinite-scroll-component__outerdiv {
  width: 100%;
}
